* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    height: 100px;
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

ul {
    display: grid;
    grid-template-columns: repeat(3, auto);
    list-style-type: none;
}

ul li a {
    padding: 0 30px;
    text-decoration: none;
    color: #3e3e3e;
    display: inline-block;
    position: relative;
}

li a::after {
    content: '';
    display: block;
    height: 4px;
    width: 0;
    background: #c4c4f7;
    transition: all .5s;
    position: absolute;
    bottom: 0;
    left: 0;
}

li a:hover::after {
    width: 100%;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: calc(100vh - 100px);
}

.logo-img {
    max-width: 690px;
    height: 170px;
}

.content-left {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 50px;
}

main h1 {
    font-size: 54px;
    color: black;
    text-transform: uppercase;
}

main h2 {
    font-size: 25px;
    color: rgb(50, 62, 193);
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 8px;
}

main p {
    font-size: 14px;
    font-weight: 400;
    color: black;
    line-height: 31.5px;
    margin: 38px 0;
}

.cta {
    padding: 15px 30px;
    background: #6372e6;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 50px;
}
